In [1]:
ARQUIVO_ENTRADA="dados/dados_teste.txt"

In [2]:
from carregador_dados import le_arquivo 
import numpy as np
gerador_arquivo = le_arquivo(ARQUIVO_ENTRADA, pula_header=True) 
dados = np.array(list(gerador_arquivo))

In [3]:
dados

array([[datetime.date(2020, 1, 2), 'AALR3', 18.68],
       [datetime.date(2020, 1, 2), 'AAPL34', 120.73],
       [datetime.date(2020, 1, 2), 'ABCB4', 20.05],
       [datetime.date(2020, 1, 2), 'ABEV3', 19.12],
       [datetime.date(2020, 1, 2), 'ADHM3', 2.44],
       [datetime.date(2020, 1, 2), 'AFLT3', 11.15],
       [datetime.date(2020, 1, 2), 'AGRO3', 19.21],
       [datetime.date(2020, 1, 2), 'ALPA3', 27.17],
       [datetime.date(2020, 1, 2), 'ALPA4', 32.74],
       [datetime.date(2020, 1, 2), 'ALSO3', 50.13]], dtype=object)

In [4]:
dados[:, 1:3]

array([['AALR3', 18.68],
       ['AAPL34', 120.73],
       ['ABCB4', 20.05],
       ['ABEV3', 19.12],
       ['ADHM3', 2.44],
       ['AFLT3', 11.15],
       ['AGRO3', 19.21],
       ['ALPA3', 27.17],
       ['ALPA4', 32.74],
       ['ALSO3', 50.13]], dtype=object)